<h1>Assignemnts</h1>
<caption>Vincent Bernard Bloom Guerero #18462</caption>
<caption>GitHub: <a href="https://github.com/VincentBloom/not-your-average-grunt">not-your-average-grunt</a>.</caption>
<hr>

<table class="table">
  <tr>
    <th>Assignment</th>
    <th>Due date</th>
  </tr>
  <tr>
    <td><a ng-href="#/assignment1">Assignment 1</a></td>
    <td>2016-08-20 23:59:59</td>
  </tr>
  <tr>
    <td><a ng-href="#/assignment2">Assignment 2</a></td>
    <td>2016-08-27 23:59:59</td>
  </tr>
</table>
