<h1>Assignment 4</h1>
<caption>Due date: 2016-09-18</caption>
<caption>Vincent Bernard Bloom #18462</caption>
<caption>GitHub: <a href="https://github.com/VincentBloom/not-your-average-grunt" target="_blank">not-your-average-grunt
</a>.</caption>
<hr>

<section id="question1">
  <h2>1. Implement the merge sort algorithm On-Prem with an integer array of 1,000,000
    elements. <b>20 points.</b></h2>
  <p>Visit my GitHub to view code!
    <a href="https://github.com/VincentBloom/not-your-average-grunt/blob/master/assignments/A4/mergesort.js"
       target="_blank">save-bucket-image-to-disk.js</a></p>
  <p>My local machine was unable to completed the task in 999,998 iterations with a time of 780,783ms.</p>
  <img src="app/images/2016-09-18.png">
  <p>Code was made with my good bubby Alonso Larraguibel.</p>
  <ul>
    <li><a href="https://github.com/AlonsoLarra" target="_blank">His GitHub</a>.</li>
    <li><a href="https://s3.amazonaws.com/alonsolarra/index.html#/" target="_blank">His S3 homepage
    </a>.</li>
  </ul>
</section>

<section id="question2">
  <h2>2. Benchmark the On-Prem implementation. <b>10 points.</b></h2>
  <p>The code is the same as <a href="#/assignment4#question1">the previous task</a>.</p>
  <p>Resources used:</p>
  <ul>
    <li><a href="http://stackoverflow.com/a/17943511" target="_blank">How do you performance test JavaScript code?</a>.
    </li>
  </ul>
</section>

<section id="question3">
  <h2>3. Implement the merge sort algorithm with an integer array of 1,000,000 in a parallel
    approach using micro-services architecture in AWS. <b>60 points.</b></h2>
  <p>I did not finish the assignment. Here is my progress:</p>
  <ul>
    <li><a
      href="https://github.com/VincentBloom/not-your-average-grunt/blob/master/assignments/A4/lambda-mergesort-divide.js"
      target="_blank">Divide</a></li>
    <li><a
      href="https://github.com/VincentBloom/not-your-average-grunt/blob/master/assignments/A4/lambda-mergesort-merge.js"
      target="_blank">Merge</a></li>
  </ul>
  <p>Resources used:</p>
  <ul>
    <li><a href="http://stackoverflow.com/a/35795883" target="_blank">Invoke a Lambda from another Lambda</a>.</li>
    <li><a
      href="http://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-handler.html#nodejs-prog-model-handler-callback"
      target="_blank">Lambda callbacks</a>.</li>
    <li><a href="http://justinklemm.com/node-js-async-tutorial/" target="_blank">Async tutorial</a>.</li>
    <li><a href="https://github.com/serverless/serverless/issues/897" target="_blank">Deploy third-party modules for
      SLS serverless</a>.</li>
    <li><a href="https://github.com/serverless/serverless/issues/948" target="_blank">Use Node modules within a
      serverless function</a>.</li>
  </ul>
</section>

<section id="question4">
  <h2>4. Benchmark the AWS implementation. <b>10 points.</b></h2>
  <p>The benchmark could not be done, as the <a href="#/assignment4#question3">previous task</a> was not completed.
  </p>
</section>
