<h1>Assignment 1</h1>
<caption>Due date: 2016-08-20</caption>
<caption>Vincent Bernard Bloom #18462</caption>
<caption>GitHub: <a href="https://github.com/VincentBloom/not-your-average-grunt">not-your-average-grunt</a>.</caption>
<hr>

<section id="question1">
  <h2>1. Read the following article http://martinfowler.com/articles/microservices.html and explain what "Microservices
    Architecture" means.</h2>
  <p>Microservices is almost the direct contrast to the monotlithic application architecture, where the application is
    seperated into a series of representative services that can be maintaned, swapped and interacted with easier than
    traditional architecture softwares. Each service has its own group of development teams that build, deploy and
    maintain their respective components. The services are broken up and scattered across servers as needed. Each
    microservice can be considered to be a product on its own that complements other products built in this framework,
    with the end result of an application. It focuses more on making the endpoints manage logic and moving resources by
    simple HTTP requests.</p>
</section>

<section id="question2">
<h2>2. Explain each line of the <code>cc499-setup.sh</code> file.</h2>
  <code>
    #!/bin/bash
  </code>
  <p>
    <code>#!</code> : When being the first two bytes of an executable file, interpreted by the execve(2) system call to execute. It must be followed by an absolute path.<br>
    <code>/bin/bash</code> : *nix path to Bash interpreter. “Bourne-again shell”<br>
  </p>
  <code>
    echo "Start. We are about to setup the environment for your Cloud Compting class. Excited?"
  </code>
  <p>
    <code>echo</code> : Write a message to screen/terminal.<br>
  </p>
  <p>
    <code> cd $HOME </code> : Change directory to the home directory of the current user. Equivalent to <code>~</code>
    in other contexts.
  </p>
  <p>
    <code>mkdir Projects</code> : Create a new folder in $HOME named projects.
  </p>
  <p><code>
    mkdir .aws
  </code> : Creates a new hidden folder in $HOME name .aws. Dot folders and files are hidden, which means they are
    normally invisible.</p>
  <p><code>
    cd .aws
  </code> : Change directory to the new directory created .aws.</p>
  <p><code>
    touch credentials
  </code> : Change or create a file timestamp, access or modification times. If used with a nonexistent file, creates a
    file. Creates a file called credentials in folder .aws.</p>
  <p>
    <code>
      cd ..
    </code> : Referes to the parent folder of the current directory. Changes back to $HOME.
  </p>
  <p>
    <code>sudo apt-get update</code> : Execute a command or statement as the superuser. For Debian distributions,
    searches and installs packages from repositories. Updates the update list for all packages installed.
  </p>
  <p>
    <code>
      sudo apt-get install -f
    </code> : Installs suggested packages from suggested update key list. Fix broken dependencies apt-get dependencies.
  </p>
  <p>
    <code>
      sudo apt-get install git
    </code> : Installs git version control system.
  </p>
  <p>
    <code>
      sudo apt-get install nodejs
    </code> : Installs node.js, a server-side runtime environment primarily designed for server-side Web apps.
  </p>
  <p>
    <code>
      sudo apt-get install npm
    </code> : Node Package Manager. Manages node.js’ libraries, packages and projects.
  </p>
  <p>
    <code>
      sudo ln -s /usr/bin/nodejs /usr/bin/node
    </code> : Create a symbolic link (symlink) between two files. Associates a file or a directory with another file or
    directory. Makes a soft symlink instead of a hard symlink, tracking and following the destination file or folder.
    Associates node to nodejs, to avoid conflict with other services named node.
  </p>
  <p>
    <code>
      sudo apt-get -y install python-pip
    </code> : Sends a yes to all prompts from the installation process. Pip is a package management system to install
    and manage Python packages.
  </p>
  <p>
    <code>
      sudo pip install --upgrade pip
    </code> : Upgrades newest versions of the pip packagery.
  </p>
  <p>
    <code>
      sudo pip install awscli --ignore-installed six
    </code> : Installs Amazon Web Services Command Line Interface, ignoring the Python package six that may enter in
    conflict.
  </p>
  <p>
    <code>
      sudo npm install -g yo
    </code> : Installs yeoman templating and scaffolding framework.
  </p>
  <p>
    <pre><code>
sudo npm install -g grunt-cli
sudo npm install -g serverless
  </code></pre> : Installs gruntjs, scripting tool to automate services. Serverless for node to build and manage apps
  using AWS.
  </p>
  <p>
    <code>
      sudo apt-get install curl libunwind8 gettext
    </code> : Installs curl, libunwind8 and gettext. CURL to manage URL redirections for clients, LibunWind8 to determine
    the call order of executions, and gettext to write in different languages for Unix systems.
  </p>
<p>
  <code>
    curl -sSL -o dotnet.tar.gz https://go.microsoft.com/fwlink/?LinkID=809130
  </code> : Downloads .NET dev tools for Debian.
</p>
  <p><code>
    sudo mkdir -p /opt/dotnet && sudo tar zxf dotnet.tar.gz -C /opt/dotnet
  </code> : Decompresses the package just downloaded and moves it to the /opt/dotnet directory just created.</p>
  <p>
    <code>
      sudo ln -s /opt/dotnet/dotnet /usr/local/bin
    </code> : Makes a symbolic link to the new dev tools to be able to be used in Terminal.
  </p>

</section>

<section id="question3">
  <h2>
    3. Create a grunt task to deploy your website to your own bucket in S3.
  </h2>
  <p>
    Follow this link:
    https://github.com/VincentBloom/not-your-average-grunt/blob/master/Gruntfile.js
    <pre><code>
grunt.registerTask('deployToS3', 'Deploying to S3 bucket', function(target){
  var done = this.async();
  var command = "/usr/local/bin/aws";
  var child = grunt.util.spawn({
    cmd: command,
    args: 's3 sync --acl=public-read dist s3://not-your-average-grunt'.split(" "),
    opts: {
      stdio: 'inherit'
    }
  }, function(error, result, code){
    if(code != 0 && error !== null) grunt.fatal("Error sycing with S3 bucket.");
    grunt.log.writeln(String(result).trim());
    done();
  });
});
    </code></pre>
    Resources used:
    <ul>
      <li><a href="http://gruntjs.com/api/grunt.util">GruntJS API documentation</a>.</li>
      <li><a href="http://otobrglez.opalab.com/front-end/2015/04/20/grunt-s3-deployment-sync-s3cmd.html">Otto Brglz</a>.
      </li>
    </ul>
  </p>
</section>

<section id="question4">
  <h2>4. Explain how routes work in angular and a code example. </h2>
  <p>
    Angular Routes and routing enable developers to create views in their own files and having different URLs to access requested views. Angular has a container div ng-view, found in the index.html development code. The containing sections are swapped out dynamically using routes.
    Routing loads a template requested by the user, which is then stored in templateCache when another template is visited. If the user visits a previously visited view, the content is loaded from templateCache instead of requesting it from the server.
    Routes are specified in app.js, the main module of the application. They work through events fired through the $routeProvider.
  </p>
  <pre><code>
angular.config(function ($routeProvider) {
  $routeProvider
    .when('/', {
      templateUrl: 'views/main.html',
      controller: 'MainCtrl',
      controllerAs: 'main'
    })
    .when('/about', {
      templateUrl: 'views/about.html',
      controller: 'AboutCtrl',
      controllerAs: 'about'
    })
    .otherwise({
      redirectTo: '/'
    });
  });
  </code></pre>
</section>

<section id="question5">
  <h2>5. Explain how you can have more than one access key in your computer and how to use each one. Provide code or
    conﬁguration examples.</h2>
  <p>Multiple sets of credentials can be set up and stored in the .aws/credentials file in Unix systems. The default
    credentials must always exist, and the rest can be added as needed.</p>
  <pre><code>
[default]
AWS_ACCESS_KEY_ID = DEFAULT_ACCESS_KEY
AWS_SECRET_ACCESS_KEY = DEFAULT_SECRET_KEY

[profile_1]
AWS_ACCESS_KEY_ID = PROFILE_1_ACCESS_KEY
AWS_SECRET_ACCESS_KEY = PROFILE_1_SECRET_KEY

[profile_2]
AWS_ACCESS_KEY_ID = PROFILE_2_ACCESS_KEY_
AWS_SECRET_ACCESS_KEY = PROFILE_2_SECRET_KEY
  </code></pre>
  To run any instruction using a set of credentials with the AWS CLI, you must use the --profile option:
  <code>$ aws action --profile CUSTOM_PROFILE</code>
</section>

<section id="question6">
  <h2>6. Explain what are you going to do different this semester based on last semester experience. </h2>
  <ul>
    <li>I will definitely not leave the final project to the end of the semester.</li>
    <li>I will stay on top of the tasks related to the final project and continuously deliver updates.</li>
    <li>I will work better with my teammates by communicating better.</li>
    <li>I will set myself limits and I will not break myself. That is an unnecessary waste of heartbeats.</li>
    <li>I will complete all assignments, even if it means I have to turn them in late or not turn them in.</li>
    <li>I will strive to get every extra point possible.</li>
    <li>I will read a book and wirte a report on it.</li>
  </ul>
</section>
